.detailsVirtualizer {
	height: 100%;
	overflow: auto;
}

.commitMessageBody {
	white-space: pre-wrap;
}

.hunkHeaderRow {
	display: flex;
	column-gap: 4px;
	align-items: center;
}

.hunkHeader {
	flex-grow: 1;
	font-family: monospace;
}
