.itemRow {
	display: flex;
	align-items: start;
	border-radius: 8px;

	&:where(:hover) {
		background-color: var(--color-row-hover-bg);
	}

	&[inert] {
		opacity: 0.5;
	}
}

.itemRowEmpty {
	padding-inline: var(--row-inline-padding);
	padding-block: var(--row-block-padding);
	color: var(--color-text-secondary);
	line-height: var(--row-line-height);
}

.itemRowSelected {
	background-color: var(--color-item-row-selected-unfocused-bg);
	color: var(--color-item-row-selected-fg);

	&:has(:where(textarea, input):focus),
	:where([data-panel]:focus) & {
		background-color: var(--color-item-row-selected-focused-bg);
	}
}

.itemRowHighlighted {
	background-color: var(--color-item-row-highlighted-bg);
	color: var(--color-text);
}

.section {
	border-radius: 8px;
	background-color: var(--color-section-selected-bg);
}

.itemRowToolbar {
	display: none;
	align-items: stretch;

	.itemRow:hover &,
	.itemRow:focus-within &,
	.itemRowSelected & {
		display: flex;
	}
}

.itemRowToolbarButton {
	display: grid;
	padding-inline: var(--row-inline-padding);
	padding-block: var(--row-block-padding);
	border-radius: 8px;

	&:not([data-disabled]):hover {
		background-color: var(--color-item-row-action-hover-bg);

		.itemRowSelected & {
			background-color: var(--color-item-row-selected-action-hover-bg);
		}
	}

	svg {
		width: var(--row-line-height);
		height: var(--row-line-height);
	}

	&[data-disabled] {
		opacity: 0.5;
	}
}

.itemRowLabel {
	flex-grow: 1;
	padding-inline: var(--row-inline-padding);
	padding-block: var(--row-block-padding);
	overflow: hidden;
	line-height: var(--row-line-height);
	text-overflow: ellipsis;
	white-space: nowrap;
}

.sectionLabel {
	font-weight: bold;
}
